$breakpoint6:         1800px;
$breakpoint5:         1200px;
$breakpoint4:         1024px;
$breakpoint3:          992px;
$breakpoint2:          768px;
$breakpoint1:          576px;
$breakpoint0:          480px;

$brand-green:        #27893e;
$brand-black:        #262825;
$brand-blue:         #006699;