form {
  margin: 30px 0;

  .has-placeholder {
    display: none;
  }

  @media (min-width: $breakpoint3){

    .has-placeholder {
      display: block;
    }

    .form-group {
      textarea::placeholder,
      input::placeholder {
        color: #ffffff;
      }
    }
  }

  .form-group {
    margin-bottom: 1.5rem;
  }

  textarea {
    width: 100%;
    height: 200px !important;
  }

  select,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {

    &.form-control {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      height: inherit;
      outline: none;
      border-radius: 0;
      background: #ffffff;
      resize: none;
      padding: 8px 10px 8px 12px;
    }
  }

  select {
    &.form-control {
      background: url("../images/bg-select.png") right center no-repeat;
      padding-right: 30px;
    }
  }
}


.form-check {

  @media (min-width: $breakpoint3){

    input + label {
      padding-right: 80px;
    }
  }
  margin-bottom: 1.5rem;
}

.error-span {
  display: none;
}

.error {

  select,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    border-color: #ff0000;
    outline: 1px solid #ff0000 !important;
  }

  .error-span {
    display: block;
    color: #ff0000;
  }
}