@import "colours";
@import "fonts";

* {
    outline: none;
    box-sizing: border-box;
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;

    background: #f5f5f5;
    color: $brand-black;
    font-size: 18px;
    font-family: 'CaeciliaLTStd-Light';
}

h1, h2, h3, h4, h5 {
    font-family: 'CaeciliaLTStd-Roman';
    color: $brand-green;
    margin: 0;
    padding: 0;
}

h1 {
    line-height: 100%;
    color: $brand-black;
    font-size: 55px;
    padding-bottom: 5px;
}

p {}

a {
    color: $brand-blue;
}
