@import "colours";
@import "fonts";

* {
    outline: none;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;

    @media (min-width: $breakpoint2){
        font-size: 18px;
    }
}

.page {
    max-width: 1220px;
    margin: 0 auto;
}

.copy {
}


h1, h2, h3, h4, h5 {
    font-family: 'CaeciliaLTStd-Bold';
}

h1 {}

p {}

.quote {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 130%;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;

    @media (min-width: $breakpoint2){
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}

.initial-display-none {
    display: none !important;
}
