@import "colours";
@import "fonts";

* {
    outline: none;
    box-sizing: border-box;
}

body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: 100%;

    background: #f5f5f5;
    color: $brand-black;
    font-size: 18px;
    font-family: 'CaeciliaLTStd-Light';
}

h1, h2, h3, h4, h5 {
    font-family: 'CaeciliaLTStd-Roman';
    color: $brand-green;
    margin: 0;
    padding: 0 0 12px 0;
}

h1 {
    line-height: 100%;
    color: $brand-black;
    font-size: 32px;
    padding-bottom: 5px;

    @media (min-width: $breakpoint3) {
        font-size: 55px;
    }


}

h2 {
    font-size: 28px;
    font-weight: bold;

    @media (min-width: $breakpoint3) {
        font-size: 42px;
        font-weight: normal;
    }
}

h3 {
    font-size: 22px;
    font-weight: bold;

    @media (min-width: $breakpoint3) {
        font-size: 38px;
        font-weight: normal;
    }
}

h4 {
    font-size: 22px;
    font-weight: bold;
    color: $brand-black;

    @media (min-width: $breakpoint3) {
        font-size: 32px;
        font-weight: normal;
    }
}

p {
    line-height: 120%;
    padding-bottom: 12px;
}

a {
    color: $brand-blue;
}

