@import "colours";
@import "furniture";
@import "mixins";


.page {
    max-width: 1220px;
    margin: 0 auto;
    background: #ffffff;
    position: relative;
}

.hamburger {
    background-image: url('../images/hamburger.svg');
    background-size: cover;
    width: 40px;
    height: 30px;
    text-indent: -9000px;
    display: block;
}

.slogan {
    font-family: 'CaeciliaLTStd-Italic';
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    padding: 0 0 10px 0;
    line-height: 130%;
}

.fixed {
    .header {
        position: fixed;
        z-index: 10;
    }

    .content {
        padding-top: 211px;

    }
}

.header {
    padding-top: 20px;
    background: #ffffff;
    width: 100%;
    top: 0;

    &.smaller {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16);

        .header-image {

            img {
                width: 70px;
            }
        }
    }
}

.header-image {
    padding-bottom: 5px;
    text-align: center;

    a {
        display: inline-block;
    }

    img {
        width: 100px;
        display: block;
        transition: 200ms;
    }
}

.header-text {

    text-align: center;
    padding-bottom: 5px;

    h1 {
        padding-bottom: 10px;
    }
}


.content {
    height: 1200px;
    background: #ffffff;
}

.navigation {
    position: absolute;
    top: 20px;
    right: 20px;
}

.contact-details {
    position: absolute;
    top: 20px;
    left: 20px;

    a {
        display: inline-block;
    }

    .text {
        line-height: 100%;
        display: none;
    }

    > span {
        padding-right: 5px;
        display: inline-block;
    }

    .icon {
        display: inline-block;
        background-size: cover;

        &.call {
            background-image: url('../images/call.svg');
            width: 40px;
            height: 40px;
        }

        &.email {
            background-image: url('../images/email.svg');
            width: 44px;
            height: 44px;
        }
    }
}

.tabs-section {
    background: #f5f5f5;
}

.tabs {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    background: white;

    li {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    a {
        display: inline-block;
        padding: 8px  0;
        color: $brand-grey;
        line-height: 100%;
        margin: 0 10px;
        text-decoration: none;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 3px;
            width: 0;
            background: $brand-green;
            transition: width .250s ease, background-color .250s ease, left .250s ease;
        }

        &.active {
            color: $brand-green;
            &:after {
                width: 100%;
                left: 0;
                background: $brand-green;

            }
        }
    }
}

.tabs-content {
    padding: 20px;

    .imagery {
        display: none;
    }

    .tab-content {

        display: none;

        &.active {
            display: block;
        }
    }
}

.bold {
    font-weight: bold;
}

.btn {
    background-color: $brand-green;
    color: white;
    font-weight: bold;
    line-height: 100%;
    padding: 10px 25px;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}







@media (min-width: $breakpoint3){

    .fixed {
        .header {
            max-width: 1220px;
        }

        .content {
            //padding-top: 211px;

        }
    }

    .header,
    .header-image-text,
    .header-contact-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header {
        padding: 25px 90px 20px 40px;


        &.smaller {
            box-shadow: none;
            border-bottom: 1px solid $brand-grey;

            .header-image {

                img {
                    width: 100px;
                }
            }
        }
    }

    .header-image {

        //img {
        //    width: 174px;
        //}
    }

    .header-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 30px;
    }



    .contact-details {
        position: static;

        a {
            display: inline-block;
        }

        .text {
            line-height: 100%;
            display: none;
        }

        > span {
            padding-right: 0;
            padding-left: 5px;
            display: inline;
        }
    }


    .navigation {
        top: 30px;
        right: 35px;
    }
}










/* ------ utils -------------*/


.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

.display-none {
  display: none !important;
}

