@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@font-face {
  font-family: 'CaeciliaLTStd-Bold';
  src: url("fonts/CaeciliaLTStd-Bold.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Bold.oft") format("opentype"), url("fonts/CaeciliaLTStd-Bold.woff") format("woff"), url("fonts/CaeciliaLTStd-Bold.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CaeciliaLTStd-Roman';
  src: url("fonts/CaeciliaLTStd-Roman.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Roman.oft") format("opentype"), url("fonts/CaeciliaLTStd-Roman.woff") format("woff"), url("fonts/CaeciliaLTStd-Roman.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CaeciliaLTStd-Italic';
  src: url("fonts/CaeciliaLTStd-Italic.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Italic.oft") format("opentype"), url("fonts/CaeciliaLTStd-Italic.woff") format("woff"), url("fonts/CaeciliaLTStd-Italic.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CaeciliaLTStd-Light';
  src: url("fonts/CaeciliaLTStd-Light.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Light.oft") format("opentype"), url("fonts/CaeciliaLTStd-Light.woff") format("woff"), url("fonts/CaeciliaLTStd-Light.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

* {
  outline: none;
  box-sizing: border-box; }

body {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: 100%;
  color: #262825;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 100; }

h1, h2, h3, h4 {
  font-family: CaeciliaLTStd-Bold;
  color: #27893e;
  margin: 0;
  padding: 0 0 12px 0; }

h1 {
  line-height: 100%;
  color: #262825;
  font-size: 32px;
  padding-bottom: 5px; }
  @media (min-width: 992px) {
    h1 {
      font-size: 55px; } }

h2 {
  font-size: 28px; }
  @media (min-width: 992px) {
    h2 {
      font-size: 42px; } }

h3 {
  font-size: 22px; }
  @media (min-width: 992px) {
    h3 {
      font-size: 38px; } }

h4 {
  font-size: 22px;
  color: #262825; }
  @media (min-width: 992px) {
    h4 {
      font-size: 32px; } }

h5 {
  color: #262825;
  font-weight: bold;
  padding-bottom: 12px;
  font-size: 17px; }

p {
  line-height: 130%;
  padding-bottom: 12px; }

a {
  color: #006699;
  font-weight: 400; }

@font-face {
  font-family: 'CaeciliaLTStd-Bold';
  src: url("fonts/CaeciliaLTStd-Bold.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Bold.oft") format("opentype"), url("fonts/CaeciliaLTStd-Bold.woff") format("woff"), url("fonts/CaeciliaLTStd-Bold.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CaeciliaLTStd-Roman';
  src: url("fonts/CaeciliaLTStd-Roman.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Roman.oft") format("opentype"), url("fonts/CaeciliaLTStd-Roman.woff") format("woff"), url("fonts/CaeciliaLTStd-Roman.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Roman.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CaeciliaLTStd-Italic';
  src: url("fonts/CaeciliaLTStd-Italic.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Italic.oft") format("opentype"), url("fonts/CaeciliaLTStd-Italic.woff") format("woff"), url("fonts/CaeciliaLTStd-Italic.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Italic.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'CaeciliaLTStd-Light';
  src: url("fonts/CaeciliaLTStd-Light.eot") format("embedded-opentype"), url("fonts/CaeciliaLTStd-Light.oft") format("opentype"), url("fonts/CaeciliaLTStd-Light.woff") format("woff"), url("fonts/CaeciliaLTStd-Light.ttf") format("truetype"), url("fonts/CaeciliaLTStd-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.anchor {
  position: relative;
  top: -180px;
  visibility: hidden; }

form {
  margin: 10px 0;
  width: 100%; }
  form .form-row {
    margin-bottom: 20px; }
  form label {
    font-size: 16px;
    display: block;
    padding-bottom: 5px;
    font-weight: 400; }
    form label span {
      color: #919191; }
  form .placeholder {
    display: none; }
  form select.form-control,
  form input[type="text"].form-control,
  form input[type="email"].form-control,
  form input[type="number"].form-control,
  form input[type="password"].form-control,
  form textarea.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: inherit;
    outline: none;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    resize: none;
    padding: 8px 10px;
    border-radius: 3px;
    display: block;
    width: 100%;
    font-size: 16px;
    margin-bottom: 5px; }
  form textarea.form-control {
    width: 100%;
    height: 180px; }
  form select.form-control {
    background: url("../images/bg-select.png") right center no-repeat;
    padding-right: 30px; }
  form .form-check,
  form .form-radio {
    position: relative;
    padding-left: 32px;
    padding-bottom: 10px; }
    form .form-check input[type="checkbox"],
    form .form-check input[type="radio"],
    form .form-radio input[type="checkbox"],
    form .form-radio input[type="radio"] {
      display: inline;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0;
      top: 0;
      cursor: pointer;
      transform: scale(1.2); }
      form .form-check input[type="checkbox"] + label,
      form .form-check input[type="radio"] + label,
      form .form-radio input[type="checkbox"] + label,
      form .form-radio input[type="radio"] + label {
        display: inline;
        line-height: 20px;
        cursor: pointer; }
  form .error-span {
    display: none; }
  form .error select.form-control,
  form .error input[type="text"].form-control,
  form .error input[type="email"].form-control,
  form .error input[type="number"].form-control,
  form .error input[type="password"].form-control,
  form .error textarea.form-control {
    border: 1px solid #e50000; }
  form .error .error-span {
    display: block;
    color: #b70000;
    font-size: 14px; }
  @media (min-width: 992px) {
    form {
      width: 440px;
      margin: 0 auto; }
      form .placeholder {
        display: block; }
      form .form-row textarea::placeholder,
      form .form-row input::placeholder {
        color: #f5f5f5; }
      form .form-check input[type="checkbox"],
      form .form-check input[type="radio"],
      form .form-radio input[type="checkbox"],
      form .form-radio input[type="radio"] {
        transform: scale(1.3); } }

.page {
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-image: url("../images/bg-page.png");
  background-size: contain;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: white;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #f5f5f5; }

.hamburger,
.close {
  background-image: url("../images/hamburger.svg");
  background-size: cover;
  width: 40px;
  height: 30px;
  text-indent: -9000px;
  display: inline-block; }

.close {
  background-image: url("../images/hamburger-close.svg");
  width: 42px;
  height: 42px;
  text-align: left; }

.slogan {
  font-family: CaeciliaLTStd-Italic;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
  padding: 0;
  line-height: 130%; }

.fixed .header {
  position: fixed;
  z-index: 10; }

.fixed .content {
  padding-top: 211px; }

.header {
  padding-top: 20px;
  width: 100%;
  top: 0; }
  .header.smaller {
    -webkit-box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.16);
    box-shadow: 0 4px 6px -3px rgba(0, 0, 0, 0.16);
    background: #ffffff; }
    .header.smaller .header-image img {
      width: 70px; }

.header-image {
  padding-bottom: 5px;
  text-align: center; }
  .header-image a {
    display: inline-block; }
  .header-image img {
    width: 100px;
    display: block;
    transition: 200ms; }

.header-text {
  text-align: center;
  padding: 0 15px 15px; }
  .header-text h1 {
    padding-bottom: 10px; }

.navigation-trigger {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 20; }

.content {
  padding: 0 20px; }

.contact-details {
  position: absolute;
  top: 20px;
  left: 20px; }
  .contact-details a {
    display: inline-block; }
    .contact-details a:hover {
      color: #262825; }
  .contact-details .text {
    line-height: 100%;
    display: none; }
  .contact-details > span {
    padding: 0 10px 0 0;
    display: inline-block; }
  .contact-details .icon {
    display: inline-block;
    background-size: cover; }
    .contact-details .icon.call {
      background-image: url("../images/call.svg");
      width: 36px;
      height: 36px;
      transform: translateY(-3px); }
    .contact-details .icon.email {
      background-image: url("../images/email.svg");
      width: 40px;
      height: 40px;
      transform: translateY(-2px); }

.tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .tabs li {
    display: inline-block;
    margin: 0;
    padding: 0; }
  .tabs a {
    display: inline-block;
    padding: 8px  0;
    color: #444444;
    line-height: 100%;
    margin: 0 8px;
    text-decoration: none;
    position: relative;
    font-family: CaeciliaLTStd-Light;
    font-size: 18px; }
    .tabs a:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 3px;
      width: 0;
      background: #27893e;
      transition: width .250s ease, background-color .250s ease, left .250s ease; }
    .tabs a.active {
      color: #27893e; }
      .tabs a.active:after {
        width: 100%;
        left: 0;
        background: #27893e; }

.tabs-section {
  margin-bottom: 30px; }

.tabs-content .tab-content {
  padding: 20px 0;
  display: none; }
  .tabs-content .tab-content.active {
    display: block; }

.tabs-content .tab-box .title {
  text-align: left; }

.tabs-content .tab-box .copy {
  font-family: CaeciliaLTStd-Light;
  font-size: 18px;
  padding-bottom: 10px; }

.bold {
  font-weight: bold; }

strong {
  font-weight: 400; }

.btn {
  background-color: #27893e;
  color: white;
  font-weight: bold;
  line-height: 100%;
  padding: 15px 25px;
  display: inline-block;
  text-decoration: none;
  border-radius: 2px;
  font-size: 18px;
  white-space: nowrap;
  text-transform: capitalize;
  width: 100%;
  text-align: center;
  border: none;
  cursor: pointer; }
  @media (min-width: 992px) {
    .btn {
      width: auto; } }

.page-header {
  text-align: center;
  text-transform: capitalize; }

.page-introduction {
  padding-bottom: 10px;
  border-bottom: 2px solid #eaeaea;
  margin-bottom: 20px; }
  .page-introduction .copy {
    max-width: 480px;
    margin: 0 auto;
    font-weight: 400;
    padding-bottom: 10px; }

.title {
  text-align: center; }

.content {
  padding: 0 20px; }

.page-detail .imagery {
  padding: 10px 0;
  text-align: center; }
  .page-detail .imagery img {
    max-width: 70%;
    display: inline-block; }

.page-detail .detail-row .copy {
  max-width: 480px;
  margin: 0 auto;
  padding: 10px 0 20px 0; }

.no-scroll {
  overflow: hidden; }

.page-navigation {
  position: fixed;
  background: white;
  z-index: 15;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity 250ms; }
  .page-navigation.show {
    display: block; }
  .page-navigation.on {
    opacity: 1; }

.navigation-box {
  padding: 0;
  text-align: right; }
  .navigation-box #close {
    margin: 23px 33px; }
  .navigation-box ul {
    margin: 0;
    padding: 0;
    list-style: none; }
  .navigation-box > ul {
    text-align: right;
    padding: 0 35px;
    display: inline-block;
    width: 100%; }
  .navigation-box li {
    border-top: 2px solid #eaeaea;
    padding: 5px 0; }
    .navigation-box li a {
      text-transform: uppercase;
      text-decoration: none;
      color: #262825;
      font-size: 18px;
      font-weight: bold;
      padding: 7px 0;
      display: block; }
    .navigation-box li:nth-child(1) {
      border-top: none; }
    .navigation-box li ul {
      padding-bottom: 10px; }
    .navigation-box li li {
      border-top: none; }
      .navigation-box li li a {
        text-transform: none;
        color: #006699;
        font-size: 16px;
        padding: 6px 0; }
  .navigation-box .mobile-only {
    text-align: left; }
    .navigation-box .mobile-only a {
      text-transform: none;
      color: #262825;
      font-size: 15px; }

.client-logos {
  border-top: 2px solid #eaeaea;
  border-bottom: 2px solid #eaeaea;
  min-height: 150px;
  margin: 0 0 10px; }

.footer {
  padding: 0 20px 20px;
  text-align: center;
  background-image: url("../images/bg-footer.png");
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat; }
  .footer ul {
    padding: 20px 0; }
  .footer li {
    display: inline; }
    .footer li a {
      text-decoration: none;
      padding: 10px 5px;
      font-weight: 400;
      color: #006699;
      display: inline-block; }
      .footer li a:hover {
        color: #262825; }

.disclaimer {
  padding: 10px 0; }
  .disclaimer p {
    font-size: 12px;
    line-height: 140%;
    padding-bottom: 5px; }

.address {
  font-size: 18px;
  font-weight: 400;
  text-align: center; }
  .address a {
    text-decoration: none; }

.work-example {
  margin: 0 30px 30px;
  text-align: center;
  display: block;
  text-decoration: none; }
  .work-example img {
    display: inline-block;
    transition: transform 250ms; }
  .work-example .img-box {
    margin: 10px 20px 20px;
    text-align: center; }
  .work-example * {
    color: #262825; }

.image-gallery {
  padding-bottom: 20px; }
  .image-gallery .gallery-stage {
    margin-bottom: 15px;
    outline: 1px solid #dddddd; }
    .image-gallery .gallery-stage img {
      width: 100%;
      display: block;
      transition: background 250ms; }
  .image-gallery .gallery-images {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch; }
    .image-gallery .gallery-images a {
      display: inline-block;
      text-decoration: none;
      margin-right: 15px;
      flex: 0 0 auto; }
      .image-gallery .gallery-images a:nth-last-child(1) {
        margin-right: 0; }
      .image-gallery .gallery-images a img {
        border: 1px solid white; }
      .image-gallery .gallery-images a.active img {
        border: 1px solid #dddddd; }

blockquote {
  position: relative;
  font-family: CaeciliaLTStd-Italic;
  font-size: 20px;
  padding: 0 35px; }

blockquote:before {
  position: absolute;
  top: -2px;
  left: 0;
  content: '\201C';
  font-size: 4rem;
  color: #27893e; }

blockquote:after {
  position: absolute;
  right: 0;
  bottom: -2px;
  content: '\201D';
  font-size: 4rem;
  color: #27893e; }

figcaption {
  display: block;
  padding-right: 10px;
  text-align: right;
  font-size: 16px;
  line-height: 140%; }

.member .imagery {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start; }
  .member .imagery .heading {
    text-align: left;
    padding-left: 15px; }
    .member .imagery .heading span {
      display: block; }

.member .copy .heading {
  display: none; }
  .member .copy .heading span {
    position: relative;
    padding-left: 24px; }
    .member .copy .heading span:before {
      content: '';
      width: 12px;
      height: 2px;
      background: #27893e;
      position: absolute;
      left: 5px;
      top: 50%;
      margin-top: -1px; }

.member .heading {
  line-height: 140%; }
  .member .heading span {
    color: #27893e; }

.copy ul, .copy ol {
  padding-left: 15px; }
  .copy ul li, .copy ol li {
    padding-bottom: 10px;
    line-height: 130%;
    padding-left: 10px; }
  .copy ul li:nth-child(even), .copy ol li:nth-child(even) {
    font-weight: 400; }

@media (min-width: 992px) {
  .member {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .member .imagery {
      display: block;
      padding: 10px 0 20px 0; }
      .member .imagery .heading {
        display: none; }
    .member .copy {
      padding-top: 0; }
      .member .copy .heading {
        display: block; }
  .content {
    padding: 0 40px; }
  .image-gallery {
    max-width: 480px;
    margin-right: 30px; }
    .image-gallery .gallery-stage img {
      display: block; }
    .image-gallery .gallery-images {
      display: initial;
      overflow: visible;
      width: 480px;
      float: left; }
      .image-gallery .gallery-images a {
        display: inline;
        text-decoration: none;
        margin: 0 15px 15px 0;
        float: left;
        width: 150px; }
        .image-gallery .gallery-images a img {
          width: 100%;
          opacity: 0.5;
          transition: opacity 250ms, transform 250ms;
          border: 0; }
        .image-gallery .gallery-images a:nth-child(3), .image-gallery .gallery-images a:nth-child(6), .image-gallery .gallery-images a:nth-child(9) {
          margin-right: 0; }
        .image-gallery .gallery-images a:hover img {
          transform: scale(1.1);
          opacity: 1;
          border: 0; }
        .image-gallery .gallery-images a.active img {
          opacity: 1;
          outline: 1px solid #dddddd;
          border: 0; }
  .work-example {
    max-width: 320px;
    margin: 10px 20px 30px; }
    .work-example .img-box {
      height: 148px;
      width: 100%;
      margin: 0 0 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .work-example:hover img {
      -ms-transform: scale(1.05, 1.05);
      /* IE 9 */
      -webkit-transform: scale(1.05, 1.05);
      /* Safari */
      transform: scale(1.05, 1.05); }
  .address {
    text-align: left; }
  .footer {
    padding: 0 40px 40px;
    background: url("../images/bg-footer.png") bottom right no-repeat; }
    .footer li {
      padding: 0 10px; }
  .no-scroll {
    overflow: scroll; }
  .page-navigation {
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    right: -35px;
    top: -30px;
    left: auto;
    width: 300px;
    bottom: 0;
    height: 100vh;
    border-left: 1px solid #f5f5f5; }
  .navigation-box > ul {
    width: 250px; }
  .mobile-only {
    display: none; }
  .fixed .header {
    max-width: 1218px; }
  .fixed .content {
    padding-top: 227px; }
  .header,
  .header-image-text,
  .header-contact-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .header {
    padding: 25px 85px 10px 40px; }
    .header .header-image img {
      width: 174px; }
    .header.smaller {
      background: #ffffff; }
      .header.smaller .header-image img {
        width: 120px; }
  .header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    padding: 0; }
    .header-text .slogan {
      text-align: left; }
  .contact-details {
    position: static;
    text-align: right; }
    .contact-details a {
      display: inline-block;
      line-height: 38px;
      font-weight: 400;
      text-decoration: none; }
    .contact-details .text {
      line-height: 100%;
      display: inline-block; }
    .contact-details .icon {
      display: none; }
    .contact-details > span {
      padding: 0 10px; }
  .navigation-trigger {
    top: 30px;
    right: 35px; }
  .tabs li {
    padding: 0 15px;
    position: relative; }
    .tabs li:nth-child(2):after, .tabs li:nth-child(2):before {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      height: 70%;
      width: 3px;
      background: #27893e;
      transform: rotate(15deg); }
    .tabs li:nth-child(2):before {
      left: 0;
      top: 0;
      right: auto; }
  .tabs a {
    font-size: 38px;
    font-weight: bold;
    color: #27893e;
    padding-bottom: 15px;
    cursor: pointer; }
    .tabs a:after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      height: 3px;
      width: 0;
      background: #27893e;
      transition: width .250s ease, background-color .250s ease, left .250s ease; }
    .tabs a.active {
      color: #27893e; }
      .tabs a.active:after {
        width: 100%;
        left: 0;
        background: #27893e; }
  .tabs-section {
    background: transparent;
    margin-bottom: 0; }
  .tabs-content .tab-content {
    padding: 30px 40px;
    margin: 0 -40px;
    min-height: 434px; }
    .tabs-content .tab-content#design {
      background: url("../images/bg-design.png") center left no-repeat; }
    .tabs-content .tab-content#consultancy {
      background: url("../images/bg-consultancy.png") center left no-repeat; }
    .tabs-content .tab-content#engineering {
      background: url("../images/bg-engineering.png") center left no-repeat; }
  .tab-box {
    border-top: 2px solid #eaeaea;
    border-bottom: 2px solid #eaeaea;
    padding: 60px 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    min-height: 350px; }
    .tab-box .title {
      padding-bottom: 20px; }
    .tab-box .copy {
      padding-left: 240px;
      padding-right: 70px; }
  .page-header {
    padding-bottom: 20px; }
  .page-detail {
    padding-top: 15px; }
    .page-detail .detail-row {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding-bottom: 40px;
      flex-wrap: wrap; }
      .page-detail .detail-row.reversed {
        flex-direction: row-reverse; }
      .page-detail .detail-row .copy {
        margin: 0;
        padding-top: 0; }
        .page-detail .detail-row .copy ~ .copy {
          margin-left: 30px; }
    .page-detail .title {
      padding-bottom: 20px; }
    .page-detail .imagery {
      padding: 0 40px; }
      .page-detail .imagery img {
        max-width: 284px; } }

/* ------ utils -------------*/
.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

.display-none {
  display: none !important; }
